<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultMaximumError" value="1,1"/>
    <add key="LearningRate" value="0,2"/>
    <add key="PatternsDirectory" value="Patterns"/>
  </appSettings>
</configuration>